body {
  background-color: #ffffff;
  font-family: helvetica-neue, Helvetica Neue, Helvetica, Arial, sans-serif;
}
body section#topPhoneCall {
  font-size: 18px;
  font-weight: bolder;
}
body section#topPhoneCall div#topPhoneCallWrapper {
  padding: 0px 10px;
  margin: 0px auto;
  position: relative;
  max-width: 1100px;
  color: #2D3E50;
}
body section#topPhoneCall div#topPhoneCallWrapper span.infoWrapper {
  line-height: 45px;
}
body section#topPhoneCall div#topPhoneCallWrapper span.infoWrapper span.phonelogo {
  position: absolute;
  color: #f96302;
  font-size: 30px;
}
body section#topPhoneCall div#topPhoneCallWrapper span.infoWrapper span.text-call {
  margin-left: 30px;
}
body section#topPhoneCall div#topPhoneCallWrapper span.infoWrapper a {
  color: #f96302;
}
@media only screen and (max-width: 500px) {
  body section#topPhoneCall div#topPhoneCallWrapper span.infoWrapper {
    display: block;
    text-align: center;
    line-height: 30px;
  }
  body section#topPhoneCall div#topPhoneCallWrapper span.infoWrapper:last-child {
    text-indent: 10px;
  }
}
body section#navigation {
  height: 95px;
  background-color: #d6d6d6;
  position: sticky;
  top: 0px;
  z-index: 666;
}
body section#navigation div#navWrapper {
  padding: 0px 10px;
  margin: 0px auto;
  position: relative;
  max-width: 1100px;
  height: 100%;
}
body section#navigation div#navWrapper img {
  height: inherit;
}
body section#navigation div#navWrapper span.icon-nav-list {
  display: none;
}
body section#navigation div#navWrapper nav {
  float: right;
  height: inherit;
}
body section#navigation div#navWrapper nav ul#masterNav {
  height: inherit;
}
body section#navigation div#navWrapper nav ul#masterNav > li {
  height: inherit;
  display: table;
  float: left;
  padding: 0px 20px;
  cursor: pointer;
  border-top: 3px solid #d6d6d6;
}
body section#navigation div#navWrapper nav ul#masterNav > li:hover {
  color: #f96302;
  border-top-color: #f96302;
}
body section#navigation div#navWrapper nav ul#masterNav > li:hover i#arrow {
  border-top-color: #f96302;
  border-right-color: #f96302;
}
body section#navigation div#navWrapper nav ul#masterNav > li i#arrow {
  height: 10px;
  width: 10px;
  border-top: 2px solid #2D3E50;
  border-right: 2px solid #2D3E50;
  display: inline-block;
  transform: rotate(135deg);
  position: relative;
  top: -3px;
  left: 5px;
}
body section#navigation div#navWrapper nav ul#masterNav > li a {
  display: table-cell;
  vertical-align: middle;
  color: #2D3E50;
}
body section#navigation div#navWrapper nav ul#masterNav > li.subNavigation {
  width: 140px;
  position: relative;
}
body section#navigation div#navWrapper nav ul#masterNav > li.subNavigation ul#subNav {
  background-color: #ffffff;
  display: none;
  position: absolute;
  top: 80%;
  left: 35px;
  border-top: 3px solid #f96302;
  width: 300px;
}
body section#navigation div#navWrapper nav ul#masterNav > li.subNavigation ul#subNav li {
  background-color: #d6d6d6;
  height: 65px;
  line-height: 65px;
  color: #2D3E50;
  padding: 0px 20px;
  margin-bottom: 1px;
}
body section#navigation div#navWrapper nav ul#masterNav > li.subNavigation ul#subNav li:hover {
  color: #ffffff;
  background-color: #f96302;
}
body section#navigation div#navWrapper nav ul#masterNav > li.subNavigation:hover ul#subNav {
  display: block;
}
body section#navigation div#navWrapper nav ul#masterNav > li.currentPage {
  color: #ffffff;
  background-color: #f96302;
  border-top-color: #f96302;
}
body section#navigation div#navWrapper nav ul#masterNav > li.currentPage i#arrow {
  border-top-color: #ffffff;
  border-right-color: #ffffff;
}
@keyframes navBarToRegular {
  from {
    height: 65px;
  }
  to {
    height: 95px;
  }
}
body section.navBarToRegular {
  animation-name: navBarToRegular;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}
@keyframes navBarToSmall {
  from {
    height: 95px;
  }
  to {
    height: 65px;
  }
}
body section.navBarToSmall {
  animation-name: navBarToSmall;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  border-bottom: 1px solid #f96302;
}
@media only screen and (max-width: 850px) {
  body section#navigation {
    padding: 0px;
  }
  body section#navigation div#navWrapper img#logo {
    width: 240px;
  }
  body section#navigation div#navWrapper span.icon-nav-list {
    display: block;
    font-size: 60px;
    color: #f96302;
    cursor: pointer;
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  body section#navigation div#navWrapper nav {
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: scroll;
    display: none;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
  body section#navigation div#navWrapper nav.showMobileNav {
    display: block;
  }
  body section#navigation div#navWrapper nav ul#masterNav {
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  body section#navigation div#navWrapper nav ul#masterNav li {
    font-size: 20px;
    border-top: none;
    float: none;
    height: auto;
    padding: 10px 0px;
    width: 100%;
    text-align: center;
  }
  body section#navigation div#navWrapper nav ul#masterNav li:hover i#arrow {
    border-top-color: #2D3E50;
    border-right-color: #2D3E50;
  }
  body section#navigation div#navWrapper nav ul#masterNav > li.currentPage {
    color: #2D3E50;
    background-color: transparent;
  }
  body section#navigation div#navWrapper nav ul#masterNav > li.currentPage i#arrow {
    border-top-color: #2D3E50;
    border-right-color: #2D3E50;
  }
  body section#navigation div#navWrapper nav ul#masterNav li.subNavigation {
    width: 100%;
  }
  body section#navigation div#navWrapper nav ul#masterNav li.subNavigation a {
    display: inline;
  }
  body section#navigation div#navWrapper nav ul#masterNav li.subNavigation ul#subNav {
    display: block;
    border-top: none;
    position: initial;
    width: auto;
    height: 0px;
    overflow: hidden;
    background-color: transparent;
  }
  body section#navigation div#navWrapper nav ul#masterNav li.subNavigation ul#subNav li {
    height: auto;
    line-height: initial;
    background-color: transparent;
    overflow: hidden;
    margin: 0px;
    white-space: nowrap;
    padding: 10px;
  }
  body section#navigation div#navWrapper nav ul#masterNav li.subNavigation ul#subNav li:hover {
    color: #f96302;
    background-color: transparent;
  }
  @keyframes showSubNav {
    from {
      height: 0px;
    }
    to {
      height: 270px;
    }
  }
  body section#navigation div#navWrapper nav ul#masterNav li.subNavigation ul.showSubNav {
    animation-name: showSubNav;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
  }
  @keyframes hideSubNav {
    from {
      height: 270px;
    }
    to {
      height: 0px;
    }
  }
  body section#navigation div#navWrapper nav ul#masterNav li.subNavigation ul.hideSubNav {
    animation-name: hideSubNav;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
  }
}
body section#picture {
  position: relative;
}
body section#picture div#pictureWrapper {
  font-size: 0px;
  text-align: center;
}
body section#picture div#pictureWrapper img {
  width: 33.33%;
  height: 425px;
  object-fit: cover;
}
@media screen and (max-width: 1500px) {
  body section#picture div#pictureWrapper img {
    width: 50%;
  }
  body section#picture div#pictureWrapper img.pic-3 {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  body section#picture div#pictureWrapper img {
    width: 100%;
    height: auto;
    max-height: 425px;
  }
  body section#picture div#pictureWrapper img.pic-2 {
    display: none;
  }
}
body section#picture div#consulationWrapper {
  height: 100%;
  width: 450px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  right: 20%;
  top: 0px;
  display: table;
}
body section#picture div#consulationWrapper div#consulationInfo {
  display: table-cell;
  vertical-align: middle;
}
body section#picture div#consulationWrapper div#consulationInfo p {
  text-align: center;
  font-size: 40px;
  color: white;
  padding: 10px;
}
body section#picture div#consulationWrapper div#consulationInfo p.outstanding {
  color: #f96302;
  font-size: 30PX;
}
body section#picture div#consulationWrapper div#consulationInfo p button {
  border: none;
  color: white;
  background-color: #f96302;
  padding: 20PX;
  font-size: 16PX;
  cursor: pointer;
  border-radius: 3px;
}
body section#picture div#consulationWrapper div#consulationInfo p button:focus {
  outline: none;
}
@media screen and (max-width: 1500px) {
  body section#picture div#consulationWrapper {
    right: 10%;
  }
}
@media screen and (max-width: 850px) {
  body section#picture div#consulationWrapper {
    position: static;
    width: 100%;
    background: #d6d6d6;
  }
  body section#picture div#consulationWrapper div#consulationInfo p {
    font-size: 30px;
    color: #2D3E50;
  }
  body section#picture div#consulationWrapper div#consulationInfo p.outstanding {
    font-size: 20px;
  }
}

/*# sourceMappingURL=index.css.map */
