$themeColor:#f96302;
$themeBgColor:#d6d6d6;
$fontColor:#2D3E50;
$webBgColor:#ffffff;

body {
    background-color: $webBgColor;
    font-family: helvetica-neue, Helvetica Neue, Helvetica, Arial, sans-serif;

    section#topPhoneCall {
        font-size: 18px;
        font-weight: bolder;

        div#topPhoneCallWrapper {

            padding: 0px 10px;
            margin: 0px auto;
            position: relative;
            max-width: 1100px;
            color: $fontColor;

            span.infoWrapper {
                line-height: 45px;

                span.phonelogo {
                    position: absolute;
                    color: $themeColor;
                    font-size: 30px;
                }

                span.text-call {
                    margin-left: 30px;
                }

                a {
                    color: $themeColor;
                }
            }
        }
    }

    @media only screen and (max-width: 500px) {
        section#topPhoneCall {
            div#topPhoneCallWrapper {
                span.infoWrapper {
                    display: block;
                    text-align: center;
                    line-height: 30px;

                    &:last-child {
                        text-indent: 10px;
                    }
                }
            }
        }
    }

    section#navigation {
        height: 95px;
        background-color: $themeBgColor;
        position: sticky;
        top: 0px;
        z-index: 666;

        div#navWrapper {
            padding: 0px 10px;
            margin: 0px auto;
            position: relative;
            max-width: 1100px;
            height: 100%;

            img {
                height: inherit;
            }

            span.icon-nav-list {
                display: none;
            }

            nav {
                float: right;
                height: inherit;

                ul#masterNav {
                    height: inherit;

                    >li {
                        height: inherit;
                        display: table;
                        float: left;
                        padding: 0px 20px;
                        cursor: pointer;
                        border-top: 3px solid $themeBgColor;

                        &:hover {
                            color: $themeColor;
                            border-top-color: $themeColor;

                            i#arrow {
                                border-top-color: $themeColor;
                                border-right-color: $themeColor;
                            }
                        }

                        i#arrow {
                            height: 10px;
                            width: 10px;
                            border-top: 2px solid $fontColor;
                            border-right: 2px solid $fontColor;
                            display: inline-block;
                            transform: rotate(135deg);
                            position: relative;
                            top: -3px;
                            left: 5px;
                        }

                        a {
                            display: table-cell;
                            vertical-align: middle;
                            color: $fontColor;
                        }
                    }

                    >li.subNavigation {
                        width: 140px;
                        position: relative;

                        ul#subNav {
                            background-color: $webBgColor;
                            display: none;
                            position: absolute;
                            top: 80%;
                            left: 35px;
                            border-top: 3px solid $themeColor;
                            width: 300px;

                            li {
                                background-color: $themeBgColor;
                                height: 65px;
                                line-height: 65px;
                                color: $fontColor;
                                padding: 0px 20px;
                                margin-bottom: 1px;

                                &:hover {
                                    color: $webBgColor;
                                    background-color: $themeColor;
                                }
                            }
                        }

                        &:hover {
                            ul#subNav {
                                display: block;
                            }
                        }
                    }

                    >li.currentPage {
                        color: $webBgColor;
                        background-color: $themeColor;
                        border-top-color: $themeColor;

                        i#arrow {
                            border-top-color: $webBgColor;
                            border-right-color: $webBgColor;
                        }
                    }
                }
            }
        }
    }

    $navBar:(65px, 95px, Regular),
    (95px, 65px, Small);

    @each $from,
    $to,
    $name in $navBar {
        @keyframes navBarTo#{$name} {
            from {
                height: $from;
            }

            to {
                height: $to;
            }
        }

        section.navBarTo#{$name} {
            animation-name: navBarTo#{$name};
            animation-duration: 0.6s;
            animation-fill-mode: forwards;

            @if $name==Small {
                border-bottom: 1px solid $themeColor;
            }
        }
    }

    @media only screen and (max-width: 850px) {
        section#navigation {
            padding: 0px;

            div#navWrapper {
                img#logo {
                    width: 240px;
                }

                span.icon-nav-list {
                    display: block;
                    font-size: 60px;
                    color: $themeColor;
                    cursor: pointer;
                    float: right;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }

                nav {
                    z-index: 999;
                    background-color: rgba(255, 255, 255, .8);
                    overflow: scroll;
                    display: none;
                    position: fixed;
                    top: 0px;
                    bottom: 0px;
                    left: 0px;
                    right: 0px;

                    &.showMobileNav {
                        display: block;
                    }

                    ul#masterNav {
                        height: auto;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        li {
                            font-size: 20px;
                            border-top: none;
                            float: none;
                            height: auto;
                            padding: 10px 0px;
                            width: 100%;
                            text-align: center;

                            &:hover {
                                i#arrow {
                                    border-top-color: $fontColor;
                                    border-right-color: $fontColor;
                                }
                            }
                        }

                        >li.currentPage {
                            color: $fontColor;
                            background-color: transparent;

                            i#arrow {
                                border-top-color: $fontColor;
                                border-right-color: $fontColor;
                            }
                        }

                        li.subNavigation {
                            width: 100%;

                            a {
                                display: inline;
                            }

                            ul#subNav {
                                display: block;
                                border-top: none;
                                position: initial;
                                width: auto;
                                height: 0px;
                                overflow: hidden;
                                background-color: transparent;

                                li {
                                    height: auto;
                                    line-height: initial;
                                    background-color: transparent;
                                    overflow: hidden;
                                    margin: 0px;
                                    white-space: nowrap;
                                    padding: 10px;

                                    &:hover {
                                        color: $themeColor;
                                        background-color: transparent;
                                    }
                                }
                            }

                            @mixin mobileSubNav($name) {
                                @keyframes #{$name} {
                                    $from: 0;
                                    $to: 0;

                                    @if $name==showSubNav {
                                        $from: 0px;
                                        $to: 270px;
                                    }

                                    @else {
                                        $from: 270px;
                                        $to: 0px;
                                    }

                                    from {
                                        height: $from;
                                    }

                                    to {
                                        height: $to;
                                    }
                                }

                                ul.#{$name} {
                                    animation-name: $name;
                                    animation-duration: .8s;
                                    animation-fill-mode: forwards;
                                }
                            }

                            @include mobileSubNav(showSubNav);

                            @include mobileSubNav(hideSubNav);
                        }
                    }
                }
            }
        }
    }

    section#picture {
        position: relative;

        div#pictureWrapper {
            font-size: 0px;
            text-align: center;

            img {
                width: 33.33%;
                height: 425px;
                object-fit: cover;
            }

            @media screen and (max-width: 1500px) {
                img {
                    width: 50%;
                }

                img.pic-3 {
                    display: none;
                }
            }

            @media screen and (max-width: 1000px) {
                img {
                    width: 100%;
                    height: auto;
                    max-height: 425px;
                }

                img.pic-2 {
                    display: none;
                }
            }
        }

        div#consulationWrapper {
            height: 100%;
            width: 450px;
            background-color: rgba(#000000, 0.6);
            position: absolute;
            right: 20%;
            top: 0px;
            display: table;

            div#consulationInfo {
                display: table-cell;
                vertical-align: middle;

                p {
                    text-align: center;
                    font-size: 40px;
                    color: white;
                    padding: 10px;

                    &.outstanding {
                        color: $themeColor;
                        font-size: 30PX;
                    }

                    button {
                        border: none;
                        color: white;
                        background-color: $themeColor;
                        padding: 20PX;
                        font-size: 16PX;
                        cursor: pointer;
                        border-radius: 3px;
                        ;

                        &:focus {
                            outline: none;

                        }
                    }
                }
            }

            @media screen and (max-width: 1500px) {
                right: 10%;
            }

            @media screen and (max-width: 850px) {
                position: static;
                width: 100%;
                background: $themeBgColor;

                div#consulationInfo {
                    p {
                        font-size: 30px;
                        color: $fontColor;

                        &.outstanding {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}